/* img {
  width: 30%;
  height: 30%;
} */

body {
  background-color: #2D6EC1;
  text-align: justify;
}

div {
  background-color: #5DC8C8;
  color: white;
  margin: auto;
}

h1 {
  color: #EF889A;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: dashed black 20px;
}

.together {
  display: inline;
  background-color: #5DC8C8;

}

img.shrink {
  height: 40%;
  width: 20%;
  border: none;

}

img.jumbo-image-shrink {
  height: 40%;
  width: 20%;
}

li.no-dot {
  list-style-type: none;

}

